@property --column-one {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@property --column-two {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@property --column-three {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@property --column-four {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@property --column-five {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@layer demo {
  :root.dark {
    color-scheme: dark only;
  }

  :root.light {
    color-scheme: light only;
  }

  :root.dark {
    --from: 0 0 100% 0;
  }

  :root.light {
    --from: 100% 0 0 0;
  }

  @keyframes one {
    from {
      --column-one: 100;
    }
  }

  @keyframes two {
    from {
      --column-two: 100;
    }
  }

  @keyframes three {
    from {
      --column-three: 100;
    }
  }

  @keyframes four {
    from {
      --column-four: 100;
    }
  }

  @keyframes five {
    from {
      --column-five: 100;
    }
  }

  ::view-transition-new(root) {
    clip-path: polygon(
      0 100%,
      0 calc(var(--column-one) * 1%),
      20% calc(var(--column-one) * 1%),
      20% 100%,

      20% 100%,
      20% calc(var(--column-two) * 1%),
      40% calc(var(--column-two) * 1%),
      40% 100%,

      40% 100%,
      40% calc(var(--column-three) * 1%),
      60% calc(var(--column-three) * 1%),
      60% 100%,

      60% 100%,
      60% calc(var(--column-four) * 1%),
      80% calc(var(--column-four) * 1%),
      80% 100%,

      80% 100%,
      80% calc(var(--column-five) * 1%),
      100% calc(var(--column-five) * 1%),
      100% 100%
    );
  }

  ::view-transition-new(root) {
    --speed: .625;
    --columns: 5;

    z-index: 2;
    animation: one calc(var(--speed) * 1s)
      calc(sin((0 / 5) * 45deg) * var(--speed) * 1s),
      two calc(var(--speed) * 1s) calc(sin((1 / 5) * 45deg) * var(--speed) * 1s),
      three calc(var(--speed) * 1s)
      calc(sin((2 / 5) * 45deg) * var(--speed) * 1s),
      four calc(var(--speed) * 1s)
      calc(sin((3 / 5) * 45deg) * var(--speed) * 1s),
      five calc(var(--speed) * 1s)
      calc(sin((4 / 5) * 45deg) * var(--speed) * 1s);
    animation-timing-function: linear(
      0 0%,
      .0027 3.64%,
      .0106 7.29%,
      .0425 14.58%,
      .0957 21.87%,
      .1701 29.16%,
      .2477 35.19%,
      .3401 41.23%,
      .5982 55.18%,
      .7044 61.56%,
      .7987 68.28%,
      .875 75%,
      .9297 81.25%,
      .9687 87.5%,
      .9922 93.75%,
      1 100%
    );
    animation-fill-mode: both;
  }

  ::view-transition-old(root) {
    animation: none;
  }
}
