name: ci

on:
  push:
    branches:
      - main
      - next
  pull_request:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      pnpm-store-path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: nci

  lint:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version

      - name: Setup
        run: npm i -g @antfu/ni

      - uses: actions/cache@v3
        name: Restore pnpm cache
        with:
          path: ${{ needs.prepare.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: nci --offline

      - name: Build module
        run: pnpm -F=vue-bezier run build

      - name: Run ESLint
        run: nr lint:es

      - name: Run Stylelint
        run: nr lint:style

  typecheck:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version

      - name: Setup
        run: npm i -g @antfu/ni

      - uses: actions/cache@v3
        name: Restore pnpm cache
        with:
          path: ${{ needs.prepare.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: nci --offline

      - name: Run type check
        run: nr -F vue-bezier type:check

  unit-test:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version

      - name: Setup
        run: npm i -g @antfu/ni

      - uses: actions/cache@v3
        name: Restore pnpm cache
        with:
          path: ${{ needs.prepare.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: nci --offline

      - name: Run tests
        run: nr test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/vue-bezier
          fail_ci_if_error: true
          files: ./packages/vue-bezier/coverage/cobertura-coverage.xml
