name: 'ci'
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set node version to 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: npm install

      - run: npm run bootstrap

      - run: npm run build -- --scope=vue3-sfc-transitions

      - name: Run eslint
        run: npm run lint:es

      - name: Run stylelint
        run: npm run lint:style

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: npm install

      - run: npm run bootstrap

      - name: Run tests
        run: npm run test:coverage

      - run: npm run coveralls

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: ./packages/vue3-sfc-transitions/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
